<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/img/logo_plateforme.jpg" type="image/jpg" />
    <title>Intern'TN</title>
    <style>
      main {
          text-align: center;
      }
  </style>
</head>
<body class="arriere">
    <div class="hero_area">
   
        <section class=" slider_section position-relative">
          <div class="detail-box">
            <div class="row">
              <div class="col-md-8 col-lg-6 mx-auto">
                <h1>
                  Intern'TN <br />
                </h1>
                
              </div>
            </div>
          </div>
    
        </section>
    </div>
    <main>
        <h2>Bienvenue sur Intern'TN, la plateforme de recherche de stage à Télécom Nancy</h2>
        <p>
            Trouvez le stage idéal pour développer vos compétences. Notre plateforme vous permet d'activer le réseau de Télécom Nancy dans divers domaines où d'autres étudiants ont effectué leurs stages.
        </p>
        <p>
            Prêt à commencer? Cliquez sur le bouton ci-dessous pour accéder à la page de recherche de stages.
        </p>
        <br>
        <br>
        <br>
        <a href="/recherche" class="search">Rechercher des Stages</a>
    </main>
</body>
</html>